<app-cardview [card]="card"></app-cardview>

<h2>Content Recommendations:</h2>
<div>
    <ng-container *ngIf="card$ | async as card">
        <app-recommendationview       
            *ngFor="let recommendation of card.contentRecommendations"
            [recommendation]="recommendation"       
            (click)=onSelect(card)>
        </app-recommendationview>          
    </ng-container>    
</div>

<h2>Items Recommendations:</h2>
<app-recommendation-child-game [card]="this.card"></app-recommendation-child-game>

<button (click)="goBack()">go back</button>