<ng-container *ngIf="card$ | async as card">
  <h2>Recommendations for <b>{{card.name}}</b> in ({{mode}} - {{formatColor(colors)}}):</h2>
  <app-cardview [card]="card"></app-cardview>

  <h2>Content Recommendations:</h2>
  <p class="information">Recommendations are cards sharing similar textual information with the selected card (<a href="https://github.com/xavierfeltin/mtg_data_mining/wiki/Latent-Semantic-Analysis" target="_blank">more information</a>)
  <br/> A score of 1 means the two cards have the same content </p>
  <app-recommendation-list [model]="modelLSA$ | async" [cards]="[card]" [nbRecommendations]="5" [modelType]="'LSA'"></app-recommendation-list>
  
  <h2>Item Recommendations:</h2>
  <p class="information">Recommendations are cards played the most together with the selected card (<a href="https://github.com/xavierfeltin/mtg_data_mining/wiki/Collaborative-Filtering" target="_blank">more information</a>)
  <br/> A score of 1 means the two cards are only played together </p>
  <app-recommendation-list [model]="modelTopN$ | async" [cards]="[card]" [nbRecommendations]="5" [modelType]="'TOPN'"></app-recommendation-list>  
</ng-container>

<button (click)="goBack()" class="nav-button">Go Back</button>
<a routerLink="/">
  <button class="nav-button">Home</button>
</a>
