/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
body{
  background-color: rgb(206, 250, 250);
}

.information {
  color: black;
  font-style: italic;    
}

.form-component{
  margin-top: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}